/* to start of the css aspect, i put in some unversal style eg. list-style-type: none; a(text-decoration: none;)
to remove the default styling that comes with <a> and <li>, i also used (*) which affects the whole body to make some default
setting of my own e.g i set the padding and margin to zero to remove unwanted white space, gave it a default font styling, letter-
spacing, text-align, and text-transform */

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

li{	
	list-style-type: none;
	padding: 0 15px 0 15px;
	margin: 17px 0px;
}

a{
	text-decoration: none;
	text-transform: uppercase;
}

i{
	color: white;
	font-size: 13px;
	padding: 5px;
}

.bio{
	text-align: justify;
}

/* 
div class="header-1: to make the header background fixed, i gave the header-1 div a height that covers the whole page it's to be fixed to, used background-
attachment instead of position to append the fixed attribuite to the div then i flexed the contents of the div 
p class="white-h3": i wanted the h3 to be outline just for the sake of it and i found that the text-shadow style does just that but it doesnt
work beyond 1px lol
i class="fas fa-chevron-down": i just discovered that you style icons just like you style fonts
*/
.header-1{
	height: 100vh;
	background-image: url(images/dimmas-pictures/HEADER1.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-align: center;	
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.fa-chevron-down{
	font-size: 20px;
}

/*
nav:  making the nav sticky wasnt quite the same way i made the header fixed/sticky, i used position this time and i set it to sticky,
i used z-index and set that one to 1 to get that 3d fixed effect but 1 thing i dont quite understand is that need to set the top =0
but if you dont do that, it wont work.
div class="wrapper": i initially didnt have a wrapper div round my nav but without a wrapper round your main div, your display flex would
not be able to set margin properly to 0 auto and center. i also manipulated the width of the div, gave it some padding and some height.
*/

nav{
	width: 100%;
	height: 65px;
	background-color: rgb(0,0,0);
	position: sticky;
	top:0;
	z-index: 1;
}
.wrapper{
	margin: 0 auto;
	padding: 10px 0px;		
	display: flex;
   	flex-direction: row;
  	justify-content: space-between;
  	height: 60px;
  	width: 75%;
}
.img-blog-nav{
	display: flex;
   	flex-direction: row;
  	justify-content: space-between;
}
.nav-links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.white-link{
	color: white;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.socials{
	padding: 10px 0px;
}

/*
<main>: i created the main tag to enable me define a margin and a height for this section.
div class="main": with the main class, i flexed the 2 body divs i.e. divided the body section into two. the <main> tag allowed us
set a boundary for this. either flexbox or grid can do this but flex is easier for me.

*/
main{
	margin: 0 156px;
	height: 100%;

}
.main{
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 0;
}
.posts{
	width: 100%;
}
.sidebar{
	width: 35%;
	margin: 25px 30px 0 -10px;
}

/* here we begin to style the body */

.black-socials{
	color: black;
}

.fa-map-marker-alt{
	font-size: 15px;
}

.post{
	padding: 25px 10px;
}

.first-post{
	margin-top: -25px;
}

.black-link{
    color: black;
}

p{
	font-size: 12px;
	text-align: center;
}

.location{
	font-size: 10px;
	text-decoration: none;
    color: black;
}

h3{
	padding: 20px 0;
	font-weight: 200;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 0;	
}
p{
	padding: 20px 0;
	text-transform: none;
	font-size: 10px;
	line-height: 25px;
}
.button{
	margin: 0 auto;
	padding-top: 10px;
	background-color: black;
	color: white;
	height: 40px;
	width: 20%;
}
.post-comment{
	padding-top: 10px;
}
.button-bigger{
	margin: 0 auto;
	padding-top: 10px;
	background-color: black;
	color: white;
	height: 40px;
	width: 45%;
}
/* setting the grid box style for the popular post grid  */

.sidebar-popular-post-image-link{
	height: 380px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
}

.box{
	height: 100%;
	padding-top: 25px;
}


.sidebar-popular-post-link1{
	background-image: url(images/dimmas-pictures/aside-1.png);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}
.sidebar-popular-post-link2{
	background-image: url(images/dimmas-pictures/aside-2.png);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}
.sidebar-popular-post-link3{
	background-image: url(images/dimmas-pictures/HEADER1.jpg);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}
.sidebar-popular-post-link4{
	background-image: url(images/dimmas-pictures/aside-4.png);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}
.sidebar-popular-post-link5{
	background-image: url(images/dimmas-pictures/HEADER1.jpg);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}
.sidebar-popular-post-link6{
	background-image: url(images/dimmas-pictures/aside-6.png);
	background-size: cover;
	background-position: center;
  	background-repeat: no-repeat;
}

.footer{
	margin: 0;
	padding: 0;
}
.black-footer{
	color: white;	
	background-color: black;
	height: 250px;
}

.about-dimma{
    letter-spacing: 3px;
    text-align: justify;
    font-size: 12px;
    text-transform: none;
    line-height: 1.5;
}


h2{
	padding: 45px 0;
	font-weight: 200;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 1;	
}

footer{
	text-align: center;
}

.footer-link{
	text-decoration: none;
    color: white;
}
input{
	height: 35px;
	width: 250px;
}
.lower-link{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.buttom{
	margin: 0;
}