/* to start of the css aspect, i put in some unversal style eg. list-style-type: none; a(text-decoration: none;)
to remove the default styling that comes with <a> and <li>, i also used (*) which affects the whole body to make some default
setting of my own e.g i set the padding and margin to zero to remove unwanted white space, gave it a default font styling, letter-
spacing, text-align, and text-transform */

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

li{	
	list-style-type: none;
	padding: 0 15px 0 15px;
	margin: 17px 0px;
}

a{
	text-decoration: none;
}

/* 
div class="header-1: to make the header background fixed, i gave the header-1 div a height that covers the whole page it's to be fixed to, used background-
attachment instead of position to append the fixed attribuite to the div then i flexed the contents of the div 
p class="white-h3": i wanted the h3 to be outline just for the sake of it and i found that the text-shadow style does just that but it doesnt
work beyond 1px lol
i class="fas fa-chevron-down": i just discovered that you style icons just like you style fonts
*/
.header-1{
	height: 100vh;
	background-image: url(images/dimmas-pictures/HEADER1.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: white;
	text-align: center;	
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.white-h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	font-size: 15px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.fa-chevron-down{
	font-size: 20px;
}

/*
nav:  making the nav sticky wasnt quite the same way i made the header fixed/sticky, i used position this time and i set it to sticky,
i used z-index and set that one to 1 to get that 3d fixed effect but 1 thing i dont quite understand is that need to set the top =0
but if you dont do that, it wont work.
*/

nav{
	width: 100%;
	height: 65px;
	background-color: rgb(0,0,0);
	position: sticky;
	top:0;
	z-index: 1;
}
.wrapper{
	margin: 0 auto;
	padding: 10px 0px;		
	display: flex;
   	flex-direction: row;
  	justify-content: space-between;
  	font-size: 12px;
  	height: 60px;
  	color: white;
  	width: 85%;
 }


.link-white{
    text-decoration: none;
    color: white;
    font-size: 10px;
}
.top-right{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
 .nav-links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.link-black{
    text-decoration: none;
    color: black;
}
.middle{
	margin: 0 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}
p{
	font-size: 12px;
	text-align: center;
}

/* .fa-instagram{
	color: white;
	background-color: white;
} */

main{
	text-align: center;
	padding: 25px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 0 110px;
	width: 75%;

}

.location{
	font-size: 10px;
	text-decoration: none;
    color: black;
}

h3{
	padding: 20px 0;
	font-weight: 200;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 0;	
}
p{
	padding: 20px 0;
	text-transform: none;
	font-size: 10px;
	line-height: 25px;
}

.first-post{
	margin-top: -65px;
}

.first-post, .second-post, .third-post, .fourth-post{
	margin-bottom: 30px;
	line-height: 15px;
	padding: 15px 0;
}
.second-post{
	padding: 0;
}

aside{
	text-align: center;
	margin: 0 110px 0 0px;
	width: 300px;
}
h4{
	margin: 15px;
	font-size: 10px;
}

button{
	background-color: black;
	color: white;
	height: 35px;
	width: 150px;
}

.buttom{
	color: white;	
	background-color: black;
	height: 250px;
	margin: 10px 0;

}
.about-dimma{
    letter-spacing: 3px;
    text-align: justify;
    font-size: 12px;
    text-transform: none;
    line-height: 1.5;
}

.link-black{
    text-decoration: none;
    color: black;
}
h2{
	padding: 45px 0;
	font-weight: 200;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 1;	
}

footer{
	text-align: center;
}

.footer-link{
	text-decoration: none;
    color: white;
}
input{
	height: 35px;
	width: 250px;
}
.lower-link{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.buttom{
	margin: 0;
}